@import "tailwindcss";

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
    background-color: #ffff;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
  }
}